body{
    background-color: #EFDCF9;
}

p{
    font-family: 'Archivo', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #8059ea;
    
     width: 800px;
    padding: 10px;
    border: double;
    border-radius: 10px;
    background: rgba(255, 145, 222, 0.04);
}