<style>
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap');

body{
font-family: 'Archivo', sans-serif;
background-size: cover;
background-attachment: fixed;
background-color: #E2EEC2;
}

main {
    color: white;
}

h2{
color: #B29DD9;
position: absolute;
left: 45%;
transform:translate(-40%, -50%);
}

.card {
  padding: 16px;
  text-align: center;
}

.price {
  color: red;
  font-size: 16px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: black;
  background-color: #B29DD9;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
}

* {
  box-sizing: border-box;
    border-radius: 15px;
}

body {
  font-family: 'Archivo', sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 100%;
  padding: 45 25px;

}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 10 50px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 15px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 30px;
  }
}
table{
color: white;
}

input{
color: #E2EEC2;
}

.button {
font-family: 'Archivo', sans-serif;
  background-color: #E2EEC2;
  border: none;
  color: #E2EEC2;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 1px;
}
.button4 {border-radius: 12px;}

</style>